flow.json
[
  {
    "id": "22558f90.f7dd8",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "c63bbf06.1f6e4",
    "type": "mqtt out",
    "z": "22558f90.f7dd8",
    "name": "",
    "topic": "master/GRUPOE/temperatura",
    "qos": "",
    "retain": "",
    "broker": "ec8db653.186f98",
    "x": 710,
    "y": 220,
    "wires": []
  },
  {
    "id": "8ee8186d.4e1478",
    "type": "inject",
    "z": "22558f90.f7dd8",
    "name": "",
    "topic": "",
    "payload": "{\"data\":{\"value\":10,\"magnitude\":\"Españas\"}}",
    "payloadType": "json",
    "repeat": "7",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 330,
    "y": 220,
    "wires": [
      [
        "c63bbf06.1f6e4"
      ]
    ]
  },
  {
    "id": "933163b8.328fc",
    "type": "mqtt out",
    "z": "22558f90.f7dd8",
    "name": "",
    "topic": "master/GRUPOE/humidity",
    "qos": "",
    "retain": "",
    "broker": "ec8db653.186f98",
    "x": 690,
    "y": 300,
    "wires": []
  },
  {
    "id": "ad2a0362.39c2e",
    "type": "inject",
    "z": "22558f90.f7dd8",
    "name": "",
    "topic": "",
    "payload": "{\"data\":{\"value\":50,\"magnitude\":\"%\"}}",
    "payloadType": "json",
    "repeat": "7",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 330,
    "y": 300,
    "wires": [
      [
        "933163b8.328fc"
      ]
    ]
  },
  {
    "id": "99a3954f.d831d8",
    "type": "mqtt out",
    "z": "22558f90.f7dd8",
    "name": "",
    "topic": "master/GRUPOE/wind",
    "qos": "",
    "retain": "",
    "broker": "ec8db653.186f98",
    "x": 680,
    "y": 380,
    "wires": []
  },
  {
    "id": "a7ca7126.e0306",
    "type": "inject",
    "z": "22558f90.f7dd8",
    "name": "",
    "topic": "",
    "payload": "{\"data\":{\"value\":10,\"magnitude\":\"km/h\"}}",
    "payloadType": "json",
    "repeat": "7",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 330,
    "y": 380,
    "wires": [
      [
        "99a3954f.d831d8"
      ]
    ]
  },
  {
    "id": "e3d0ffbb.8e389",
    "type": "mqtt in",
    "z": "22558f90.f7dd8",
    "name": "",
    "topic": "master/GRUPOE/temperatura",
    "qos": "2",
    "datatype": "auto",
    "broker": "ec8db653.186f98",
    "x": 320,
    "y": 580,
    "wires": [
      [
        "c22fd224.5f1af"
      ]
    ]
  },
  {
    "id": "33efe0f0.b6a8a",
    "type": "ui_text",
    "z": "22558f90.f7dd8",
    "group": "3a74cd2d.9d6d72",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Temperatura",
    "format": "{{msg.payload.data.value}} {{msg.payload.data.magnitude}} ",
    "layout": "col-center",
    "x": 910,
    "y": 580,
    "wires": []
  },
  {
    "id": "c22fd224.5f1af",
    "type": "json",
    "z": "22558f90.f7dd8",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 630,
    "y": 580,
    "wires": [
      [
        "33efe0f0.b6a8a"
      ]
    ]
  },
  {
    "id": "20b7dfa3.ce739",
    "type": "mqtt in",
    "z": "22558f90.f7dd8",
    "name": "",
    "topic": "master/GRUPOE/humidity",
    "qos": "2",
    "datatype": "auto",
    "broker": "ec8db653.186f98",
    "x": 310,
    "y": 660,
    "wires": [
      [
        "596c6e6d.b0167"
      ]
    ]
  },
  {
    "id": "4f5f475c.3f17e8",
    "type": "ui_text",
    "z": "22558f90.f7dd8",
    "group": "3a74cd2d.9d6d72",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Humedad",
    "format": "{{msg.payload.data.value}} {{msg.payload.data.magnitude}} ",
    "layout": "col-center",
    "x": 900,
    "y": 660,
    "wires": []
  },
  {
    "id": "596c6e6d.b0167",
    "type": "json",
    "z": "22558f90.f7dd8",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 630,
    "y": 660,
    "wires": [
      [
        "4f5f475c.3f17e8"
      ]
    ]
  },
  {
    "id": "b0a69b4d.7acc48",
    "type": "mqtt in",
    "z": "22558f90.f7dd8",
    "name": "",
    "topic": "master/GRUPOE/wind",
    "qos": "2",
    "datatype": "auto",
    "broker": "ec8db653.186f98",
    "x": 300,
    "y": 740,
    "wires": [
      [
        "a1aeb324.6b93e"
      ]
    ]
  },
  {
    "id": "830e90d6.0513e",
    "type": "ui_text",
    "z": "22558f90.f7dd8",
    "group": "3a74cd2d.9d6d72",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Velocidad del viento",
    "format": "{{msg.payload.data.value}} {{msg.payload.data.magnitude}} ",
    "layout": "col-center",
    "x": 940,
    "y": 740,
    "wires": []
  },
  {
    "id": "a1aeb324.6b93e",
    "type": "json",
    "z": "22558f90.f7dd8",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 630,
    "y": 740,
    "wires": [
      [
        "830e90d6.0513e"
      ]
    ]
  },
  {
    "id": "50b9b6e4.e24f18",
    "type": "mqtt in",
    "z": "22558f90.f7dd8",
    "name": "",
    "topic": "master/GRUPOE/screen",
    "qos": "2",
    "datatype": "auto",
    "broker": "ec8db653.186f98",
    "x": 310,
    "y": 820,
    "wires": [
      [
        "9b350338.81e93"
      ]
    ]
  },
  {
    "id": "5782394d.d305e8",
    "type": "ui_text",
    "z": "22558f90.f7dd8",
    "group": "3a74cd2d.9d6d72",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Modo de display",
    "format": "{{msg.payload.data.display_type}} ",
    "layout": "row-center",
    "x": 920,
    "y": 820,
    "wires": []
  },
  {
    "id": "9b350338.81e93",
    "type": "json",
    "z": "22558f90.f7dd8",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 630,
    "y": 820,
    "wires": [
      [
        "5782394d.d305e8"
      ]
    ]
  },
  {
    "id": "7455b572.517d3c",
    "type": "mqtt in",
    "z": "22558f90.f7dd8",
    "name": "",
    "topic": "master/GRUPOE/ack",
    "qos": "2",
    "datatype": "auto",
    "broker": "ec8db653.186f98",
    "x": 300,
    "y": 500,
    "wires": [
      [
        "efd9e801.8279d8"
      ]
    ]
  },
  {
    "id": "efd9e801.8279d8",
    "type": "debug",
    "z": "22558f90.f7dd8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 670,
    "y": 500,
    "wires": []
  },
  {
    "id": "ba2f4e43.8c8e4",
    "type": "ui_dropdown",
    "z": "22558f90.f7dd8",
    "name": "",
    "label": "Modo de pantalla",
    "tooltip": "",
    "place": "Select option",
    "group": "3a74cd2d.9d6d72",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": true,
    "options": [
      {
        "label": "Completo",
        "value": "0",
        "type": "str"
      },
      {
        "label": "Temperatura",
        "value": "1",
        "type": "str"
      },
      {
        "label": "Humedad",
        "value": "2",
        "type": "str"
      },
      {
        "label": "Velocidad viento",
        "value": "3",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "",
    "x": 290,
    "y": 940,
    "wires": [
      [
        "aa7a8e20.8eba9",
        "2a9efe01.678602"
      ]
    ]
  },
  {
    "id": "90f8b78a.8b7d78",
    "type": "mqtt out",
    "z": "22558f90.f7dd8",
    "name": "",
    "topic": "master/GRUPOE/screen",
    "qos": "",
    "retain": "",
    "broker": "ec8db653.186f98",
    "x": 770,
    "y": 1120,
    "wires": []
  },
  {
    "id": "2a9efe01.678602",
    "type": "debug",
    "z": "22558f90.f7dd8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 730,
    "y": 940,
    "wires": []
  },
  {
    "id": "aa7a8e20.8eba9",
    "type": "function",
    "z": "22558f90.f7dd8",
    "name": "",
    "func": "msg.payload = {\n   \"data\":{\n       \"display_type\":msg.payload\n   }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 490,
    "y": 1120,
    "wires": [
      [
        "90f8b78a.8b7d78"
      ]
    ]
  },
  {
    "id": "ec8db653.186f98",
    "type": "mqtt-broker",
    "z": "",
    "name": "",
    "broker": "iot.ac.uma.es",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "3a74cd2d.9d6d72",
    "type": "ui_group",
    "z": "",
    "name": "Valores sensores",
    "tab": "7ebd8551.0a6d2c",
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "7ebd8551.0a6d2c",
    "type": "ui_tab",
    "z": "",
    "name": "Tab1",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
